<div class="col d-none d-sm-block">
    <div class="col-12 upperNav">
        <div class="d-flex bd-highlight mb-3">
            <div class="p-2 bd-highlight ml-10">
                <h3>Have any question ? +91 987654321</h3>
            </div>
            <div class="ms-auto p-2 bd-highlight mx-5">
                <i class="iconStyle fa fa-facebook-square" aria-hidden="true"></i>
                <i class="iconStyle fa fa-instagram" aria-hidden="true"></i>
                <i class="iconStyle fa fa-google" aria-hidden="true"></i>
                <i class="iconStyle fa fa-twitter" aria-hidden="true"></i>
                <i class="iconStyle fa fa-linkedin" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark mx-5 d-flex justify-content-between">
    <img class="navbar-brand" routerLink="/" style="cursor:pointer" src="./../../assets/vsfc_brand_logo.png"
        width="138px" height="118px" alt="VSFC Brand Logo">
    <span style="cursor:pointer" (click)="openNav()"><i class="fa fa-bars" style="font-size:2.5rem;color:black"></i>
    </span>

    <div #vsfcNavbar class="sidenav" [ngStyle]="{'width': width250 == false ? '0' : '250px' }">
        <a class="closebtn" (click)="openNav()">&times;</a>
        <a routerLink="/">Home</a>
        <a routerLink="/services">All Services</a>
        <a routerLink="/security">Security</a>
        <a routerLink="/housekeeping">HouseKeeping</a>
        <a routerLink="/manpower">Manpower</a>

        <!-- <a href="#">About</a>
        <a href="#">Contact</a> -->
    </div>




    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
        (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
    </button> -->

    <!-- <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent"
        [ngClass]="{ 'show': isCollapsed }">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link">Home</a>
            </li>
            <div class="dropdown">
                <button class="dropbtn">Services
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">Services</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Security</a>
                    <a class="dropdown-item" href="#">House Keeping</a>
                    <a class="dropdown-item" href="#">Manpower</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Contact</a>
            </li>
        </ul>
    </div> -->
</nav>