<div class="col d-none d-sm-block">
    <div class="col-12 upperNav">
        <div class="d-flex bd-highlight mb-3">
            <div class="p-2 bd-highlight ml-10">
                <h3>Have any question ? +91 8956313492 / +91 8698661641</h3>
            </div>
            <div class="ms-auto p-2 bd-highlight mx-5 pointer">
                <i class="iconStyle fa fa-facebook-square" aria-hidden="true"></i>
                <i class="iconStyle fa fa-instagram" aria-hidden="true"></i>
                <i class="iconStyle fa fa-google" aria-hidden="true"></i>
                <i class="iconStyle fa fa-twitter" aria-hidden="true"></i>
                <i class="iconStyle fa fa-linkedin" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark mx-5 d-flex justify-content-between">
    <img class="navbar-brand pointer" routerLink="/" src="./../../assets/vsfc_brand_logo.png" width="138px"
        height="118px" alt="VSFC Brand Logo">
    <span class="pointer" (click)="openNav()"><i class="fa fa-bars" style="font-size:2.5rem;color:black"></i>
    </span>

    <div #vsfcNavbar class="sidenav" [ngStyle]="{'width': width250 == false ? '0' : '250px' }">
        <a class="closebtn" (click)="openNav()">&times;</a>
        <a routerLink="/">Home</a>
        <a routerLink="/services">All Services</a>
        <a routerLink="/security">Security</a>
        <a routerLink="/housekeeping">HouseKeeping</a>
        <a routerLink="/manpower">Manpower</a>
    </div>
</nav>