.gifStyle {
    width: -webkit-fill-available;
}
.mt-9 {
    margin-top: -9rem;
}
.mt7 {
    margin-top: 7rem;
}
.heading {
    font-size: 38px;
    font-weight: bold;
}
.about {
    color: #ffca28;
}
