<div #about class="container mt-5">
    <div class="col-12 justify-content-between d-none d-sm-flex">
        <div class="col-1"></div>
        <div class="col-4 mt-5 align-self-center">
            <h1 class="heading"> <span class="about">About</span> VSFC’s</h1>
            <h3>We at Vision Supplyer Servies are one of the leading Security Agencies of the
                country having our Regd. Office at Vita (Sangli) with branches in Maharashtra.We have
                gained experience and earned appreciation from our clients by providing excellent
                services as per their requirements to Central and State Government, Muncipal and PUS
                Bodies.</h3>
        </div>
        <div class="col-1"></div>
        <div class="col-6 align-self-center">
            <img class="gifStyle" src="./../../../assets/construction-leads-2.gif" alt="">
        </div>
    </div>
    <div class="d-sm-none">
        <div class="col-10 m-5 align-self-center">
            <h1 class="heading"> <span class="about">About</span> VSFC’s</h1>
            <h3>We at Vision Supplyer Servies are one of the leading Security Agencies of the
                country having our Regd. Office at Vita (Sangli) with branches in Maharashtra.We have
                gained experience and earned appreciation from our clients by providing excellent
                services as per their requirements to Central and State Government, Muncipal and PUS
                Bodies.</h3>
        </div>
    </div>
</div>