<div #about class="container mt-5">
    <div class="col-12 justify-content-between d-none d-sm-flex">
        <div class="col-1"></div>
        <div class="col-4 mt-5 align-self-center">
            <h1 class="heading"> <span class="about">About</span> VSFC’s</h1>
            <h3>We at Vision Manpower Supplier are committed for total customer satisfaction. We have developed an
                approach &
                attitude to provide the best service systems in all aspects. We are the pioneer for Security,
                Housekeeping, Manpower supplier job work for all types of Industries &
                Govt. Agencies.</h3>
        </div>
        <div class="col-1"></div>
        <div class="col-6 align-self-center">
            <img class="gifStyle" src="./../../../assets/construction-leads-2.gif" alt="">
        </div>
    </div>
    <div class="d-sm-none">
        <div class="col-10 m-5 align-self-center">
            <h1 class="heading"> <span class="about">About</span> VSFC’s</h1>
            <h3>We at Vision Manpower Supplier are committed for total customer satisfaction. We have developed an
                approach &
                attitude to provide the best service systems in all aspects. We are the pioneer for Security,
                Housekeeping, Manpower supplier job work for all types of Industries &
                Govt. Agencies.</h3>
        </div>
    </div>
</div>