<div class="container-fluid mt-5">
    <h1 class="heading">Our Services Categories</h1>
    <div class="borderBottomYellow d-none d-sm-block"></div>
    <div class="d-none d-sm-block">
        <div class="row mt-5 pt-5">
            <div class="col-1"></div>
            <div class="col-md-5">
                <img class="img-fluid" src="../../assets/security_categories.jpg" alt="">
            </div>
            <div class="col-md-5">
                <h2>Security Service</h2>
                <h1 class="header2">We Are Qualified & Professional</h1>
                <p>We are engaged in offering our customers a wide range of industrial securities,
                    which are widely applicable in many industrial, commercial security services. Our highly experienced
                    and
                    well trained personnel teams are dedicated in making the people feel secured
                    and protected from attacks, and in emergency cases.</p>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row mt-5 pt-5">
            <div class="col-1"></div>
            <div class="col-md-5">
                <h2>Housekeeping Services</h2>
                <h1 class="header2">We Are Committed To Cleaning Excellence</h1>
                <p>The housekeeping services offer all these various housekeeping services based on the specific needs
                    and
                    clients’ requirements. Various firms in Pune. We provide experienced, verified, and trustworthy
                    professionals at your call. You can choose the best housekeeping services based on your location,
                    popularity, ratings, and reviews on VSFC Services.</p>
            </div>
            <div class="col-md-5">
                <img class="img-fluid" src="../../assets/housekeeping-categories.webp" alt="">
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row mt-5 pt-5">
            <div class="col-1"></div>
            <div class="col-md-5">
                <img class="img-fluid" src="../../assets/placement-consultants.jpg" alt="">
            </div>
            <div class="col-md-5">
                <h2>Manpower Supply</h2>
                <h1 class="header2">Experienced Manpower Services Provider</h1>
                <p>We provide the most reliable and efficient manpower services and solutions, especially for Corporate,
                    Governmental and Industrial bodies. We have well trained manpower personnel who have clear knowledge
                    about working in any situations and very friendly..</p>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row mt-5 pt-5 mb-5">
            <div class="col-1"></div>
            <div class="col-10 p-0 m-0 bgColorGray">
                <img class="getInTouch" src="../../assets/bg1.png" alt="">
            </div>
            <div class="col-1"></div>
        </div>
    </div>
    <div class="container d-sm-none">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="margin: 2rem 0rem;">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row" style="flex-wrap: nowrap;overflow: auto;">
                        <div class="card-deck d-flex">
                            <div class="card col-10">
                                <img class="card-img-top" src="../../assets/security_categories.jpg"
                                    style="width: 21rem; height: 13rem;" alt="Card image cap">
                                <div class="card-body text-center" style="width: 21rem; height: 17rem;">
                                    <h2 class="card-title">Security Service</h2>
                                    <p class="card-text">We are engaged in offering our customers a wide range of
                                        industrial securities,
                                        which are widely applicable in many industrial, commercial security services.
                                        Our highly experienced
                                        and
                                        well trained personnel teams are dedicated in making the people feel secured
                                        and protected from attacks, and in emergency cases.</p>
                                </div>
                            </div>
                            <div class="card col-10">
                                <img class="card-img-top" src="../../assets/housekeeping-categories.webp"
                                    style="width: 21rem; height: 13rem;" alt="Card image cap">
                                <div class="card-body text-center" style="width: 21rem; height: 17rem;">
                                    <h2 class="card-title">Housekeeping Services</h2>
                                    <p class="card-text">The housekeeping services offer all these various housekeeping
                                        services based on the specific needs
                                        and
                                        clients’ requirements. Various firms in Pune. We provide experienced, verified,
                                        and trustworthy
                                        professionals at your call. You can choose the best housekeeping services based
                                        on your location,
                                        popularity, ratings, and reviews on VSFC Services.</p>
                                </div>
                            </div>
                            <div class="card col-10">
                                <img class="card-img-top" src="../../assets/placement-consultants.jpg"
                                    style="width: 21rem; height: 13rem;" alt="Card image cap">
                                <div class="card-body text-center" style="width: 21rem; height: 17rem;">
                                    <h2 class="card-title">Manpower Supply</h2>
                                    <p class="card-text">We provide the most reliable and efficient manpower services
                                        and solutions, especially for Corporate,
                                        Governmental and Industrial bodies. We have well trained manpower personnel who
                                        have clear knowledge
                                        about working in any situations and very friendly..</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>