.heading {
    font-size: 38px;
    font-weight: 500;
    text-align: center;
}
.header2 {
    font-size: 3rem;
    font-weight: 500;
    line-height: initial;
}
p {
    font-size: 1rem;
}
.getInTouch {
    width: -webkit-fill-available;
    opacity: 0.3;
}
.bgColorGray {
    background: #c4c4c4;
    overflow: hidden;
}
.imgStyle {
    width: 38rem;
    height: 25rem;
}
.mr5 {
    margin-right: 5rem;
}
.borderBottomYellow {
    border-bottom: 0.2rem solid #ffca28;
    width: 8rem;
    margin-left: 45%;
    margin-top: 2rem;
}
