<app-top-header></app-top-header>

<div class="col d-none d-sm-block">
    <div class="header container-fluid relative">
        <img src="./../../assets/homepage_hero.png" style="width: -webkit-fill-available;">
        <div class="col-4 absolute mx-5 align-self-center">
            <h3 class="pleft">We Provide The Best</h3>
            <h1 class="mainTitle">Services</h1>
            <h3 class="mx-3">VSFC Services Pvt Ltd is a professional service provider company. We are offering service
                like Security, Housekeeping & Manpower and many more.</h3>
        </div>
    </div>
</div>

<div class="col d-sm-none">
    <img src="./../../assets/homepage_hero.png" style="width: -webkit-fill-available;">
    <div class="header container-fluid"></div>
</div>
<app-about-vsfc></app-about-vsfc>
<app-categories></app-categories>
<app-our-clients></app-our-clients>
<app-footer></app-footer>