.header {
    font-size: xx-large;
    font-weight: 500;
}
.section-categories {
    background-color: #f8f8f8;
    text-align: center;
}
.borderBottomYellow {
    border-bottom: 0.2rem solid #ffca28;
    width: 8rem;
    margin-left: 45%;
    margin-top: 2rem;
}
