html,
body {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.card {
    border: none !important;
}
.borderBottomYellow {
    border-bottom: 0.2rem solid #ffca28;
    width: 8rem;
    margin-left: 45%;
    margin-top: 2rem;
}

@import "~bootstrap/scss/bootstrap";
